@media(min-width: 768px){
    #avatares{
        position: absolute;
        top: 10%;
        margin-top: 12%;
        align-content: center;
        grid-template-columns: 1fr 1fr 1fr;
    }
    #text{
        position: absolute;
        left: 55%;
        display: block;
        width: 30%;
        top: 5%;
    }
    .name{
        font-size: 22px;
    }
    .prof{
        font-size: 23px;
        top: 35%;
    }
    #avatar5{
        position: relative;
        top: 35%;
    }
    h1{
        position: relative;
        margin-top: 5%;
        margin-left: 15%;
    }
    footer p{
        position: absolute;
        top: 60rem;
        left: 40%;
    }
    @media(min-width: 1240px){
        h1{
            font-size: 3rem;
        }
        #text{
            font-size: 1.5rem;
        }
        footer p{
            top: 70rem;
            margin-top: auto;
            font-size: 1.5rem;
        }
    }
}